.image-style{
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
    position: relative;
    overflow: hidden;
    height: 500px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

.icon-size-small{
  font-size: 1.3rem;
}
.icon-size-small-footer{
  font-size: 2rem;
}

#text-color{
  color: #20080a;
}

#container-color{
  background-color: #a2e7e2;
}